.title {
  color: red;
  font-family: times;
text-align: center;
font-size: 70px;
}


.example1 {
  white-space: nowrap;
  overflow: hidden;
}

.example1 h3 {
  display: inline-block;
  position: relative;
  animation: example1 40s linear infinite;
}

@keyframes example1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flyAround 20s linear infinite;
}

@keyframes flyAround {
  0%, 100% {
    top: 50%;
    left: 50%;
  }
  25% {
    top: 10%;
    left: 75%;
  }
  50% {
    top: 90%;
    left: 25%;
  }
  75% {
    top: 75%;
    left: 10%;
  }
}
